* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container::after {
  content: "";
  background: #6e7f80 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: cover;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  opacity: 0.6;
}

.app-wrapper {
  width: 80%;
  box-shadow: 2rem 5rem 5rem 1rem rgba(0, 0, 0, 0.9);
}

.header {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #be3144;
  border-bottom: 4px solid #303841;
}

.header h1 {
  font-size: 5vw;
  font-weight: 300;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
}

.balance {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #303841;
  color: #fff;
}

.balance h2 {
  margin: 2%;
  font-size: 4vw;
  font-weight: 600;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.7);
}

.balance h3 {
  font-size: 2vw;
  font-weight: 600;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid;
}

.income-expense {
  display: flex;
  justify-content: space-around;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: 20px auto;
  width: 80%;
  font-size: 2vw;
}

.income-expense p {
  margin-top: 10%;
  font-size: 1.5vw;
}

.form-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 3vw 25px;
  margin-bottom: 2%;
}

.input-group input:not([type="submit"]) {
  text-align: center;
  margin-bottom: 2rem;
  border: none;
  background: transparent;
  border-bottom: 0.2rem solid #777;
  font-size: 2.5vw;
  outline: none;
}

.input-group button {
  width: 8em;
  padding: 0.2em;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0 auto;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
.btn-income {
  background-color: #a3c1ad;
}
.btn-expense {
  background-color: #f08080;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.list-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.transactions h2 {
  font-size: 2.5vw;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  border-bottom: 2px double;
}

.transaction {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 2.5vw;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.transactions-income .transaction {
  background-color: #a3c1ad;
  margin: 20px 0;
}

.transactions-expense .transaction {
  background-color: #f08080;
  margin: 20px 0;
}

.transaction-text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.btn-del-expense,
.btn-del-income {
  padding: 0.5vw;
  margin: 4% 0;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.btn-del-expense {
  background-color: #be3144;
}

.btn-del-income {
  background-color: #008000;
}

footer {
  padding: 2% 0 0 0;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #303841;
  color: #f0f0f0;
  border-top: 4px solid #be3144;
  font-size: 2em;
  margin-top: auto;
}

.contact-section-header {
  padding: 2% 0;
  font-size: 2.5vw;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f0f0f0;
  padding-top: 2%;
}

.contact-links {
  width: 100%;
  text-decoration: none;
  color: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  font-size: 2.5vw;
}

.contact-links a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 0.5em;
  display: inline-block;
  padding: 2%;
}

.btn {
  border-radius: 20px;
}

@media (min-width: 960px) {
  * {
    font-size: 90%;
  }
  .btn:hover {
    background: #be3144;
  }
}
